build
electros-daemons
electros-electron/electros-daemons
electros-nwjs/nwjs-sdk-*
.DS_Store
electros-electron/venv
.env
elemento-gui-new/electros/configs/flags.local.json
logs/
env/
docs/node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/
